<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	
<head>
	<title>Add a new student</title>
	<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
	<br>
	<form th:action="@{/all}" th:object="${student}" method="POST">
	  <div class="form-group">
	    <label for="exampleFormControlInput1">First Name</label>
	    <input th:field="*{firstname}" type="text" class="form-control" id="firstname" placeholder="First Name" required>
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Last Name</label>
	    <input th:field="*{lastname}" type="text" class="form-control" id="lastname" placeholder="Last Name" required>
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Email</label>
	    <input th:field="*{email}" type="email" class="form-control" id="email" placeholder="email@example.com" required>
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">School</label>
	    <input th:field="*{school}" type="text" class="form-control" id="school" placeholder="School" required>
	  </div>
	  <div class="footer-body">
	    <button type="submit" class="btn btn-primary">Submit</button>
	  </div>
	</form>
</body>
</html>
